services:
  frontend:
    build:
      context: ./Frontend
    container_name: frontend
    env_file:
      - ./Frontend/.env
    environment:
      - FRONTEND_PORT=${FRONTEND_PORT}
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    depends_on:
      - backend
    volumes:
      - ${IMAGES_PATH}/images/pokemon/uploaded_images:/home/node/app/public/images/pokemon/uploaded_images

  backend:
    build:
      context: ./Backend
    container_name: backend
    env_file:
      - ./Backend/.env
    environment:
      - BACKEND_PORT=${BACKEND_PORT}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - IMAGES_PATH=${IMAGES_PATH}
      - PATH_TO_PUBLIC=${PATH_TO_PUBLIC}
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      - database
    volumes:
      - ${IMAGES_PATH}:${PATH_TO_PUBLIC}

  database:
    build:
      context: ./Database
    container_name: ${DATABASE_HOST}
    ports:
      - "${DATABASE_PORT}:27017"
    volumes:
      - database_data:/data/db

volumes:
  database_data:
